{% extends 'base.html.twig' %}

{% block title %}Ajout d'un film{% endblock %}

{% block body %}
<h1>Ajouter un film</h1>

{{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.title) }}

    {{ form_row(form.genres) }}

    <button type="submit">Créer</button>

{{ form_end(form) }}

{% endblock %}
